@page "/"

<div class="main-intro mt-5">
    <h2>Welcome to my Codeunit code test</h2>
    <p>
        This test was solved by <strong>Viggo Sjöström</strong>.<br />
        To get started, select <strong>Product Processor</strong> in the sidebar.<br />
        There you can fetch, view, and process product data from the API.
    </p>
</div>